<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.BookMapper">
    <insert id="save">
        insert into t_book (type,name,description) values(#{type},#{name},#{description})
    </insert>
    <delete id="delete">
        delete from t_book where id = #{id}
    </delete>
    <update id="update">
        update t_book set type = #{type}, name = #{name}, description = #{description} where id = #{id}
    </update>

    <select id="getById" resultType="Book">
        select * from t_book where id = #{id}
    </select>

    <select id="getAll" resultType="Book">
        select * from t_book
    </select>
</mapper>